body{
    background-image: url('../img/sativa.png');   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.menu{
    background: #000;
    list-style:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    overflow: hidden;
    padding: 5px;
}
.menu li{
	float: left;
}
.menu li a{
	display: block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
}
.menuli a:hover {
    background: #000;
}
 #title{    
    text-align: center;
}
h1{ 
    color: #1668c4;  
}
.menu > li > a:hover,
.menu > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}


#formulario{
    width: 370px;
    border: 1px solid #cccccc;
    margin: 20px;
    padding: 20px;
    position: absolute;    
}
label{
    font-size: 16px;
    display: block;
    width: 100%;
}
input{
    font-size: 16px;
    margin-bottom:20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box ;
    border: 1px solid #cccccc;
}
imput:focus{
    border: 1px solid #1668c4;
}
input[type="submit"],input[type="reset"]{
    margin-bottom: 20px;
    padding: 10px;
    background:#0c6bd8; 
    color:#ffffff;
    border: none;
}
input[type="submit"],input[type="reset"]:hover{
    background:#4a88f4;
}
